<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kburiasco.gogglesview.helper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/GogglesHelper</string>
	<key>ProgramArguments</key>
	<array>
		<string>Contents/MacOS/GogglesHelper</string>
		<string>--xpc</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>U8LK2QA3FL.com.kburiasco.gogglesview.helper</key>
		<true/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.kburiasco.gogglesview</string>
	</array>
</dict>
</plist>
