<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kburiasco.gogglesview.autoopen</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>-b</string>
		<string>com.kburiasco.gogglesview</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.kburiasco.gogglesview</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.kburiasco.gogglesview.goggles-attached</key>
			<dict>
				<key>IOProviderClass</key>
				<string>IOUSBHostDevice</string>
				<key>idVendor</key>
				<integer>11427</integer>
				<key>idProduct</key>
				<integer>32</integer>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
