<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.kburiasco.gogglesview</string>
	<key>CFBundleName</key>
	<string>GogglesView</string>
	<key>CFBundleDisplayName</key>
	<string>GogglesView</string>
	<key>CFBundleExecutable</key>
	<string>GogglesView</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kburiasco.gogglesview.automation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gogglesview</string>
			</array>
		</dict>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>GogglesView.sdef</string>
</dict>
</plist>
